html, body, h1, p {
  margin: 0;
  border: 0;
  padding: 0;
  font: inherit;
  text-align: inherit;
  text-decoration: inherit;
  color: inherit;
  background: transparent;
  font-family: 'Roboto Condensed', sans-serif;
}

.widgets-container{
    display:flex;
}

.clock-container{
    align-content: center;
    margin: 0 auto;
    margin-top: 50px;
    /* padding-top: 50px; */
    align-items: center;
}

.clock{
    border-radius: 1px solid black;
    padding: 5px;
    color: white;
    background-color: darkcyan;
}

.clock-container h1{
    color: black;
    font-weight: bold;
}